.btn {
	display: inline-block;
	padding: 0.42307em 1.26923em 0.53846em;
	background-color: #f72464;
	box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
	border-radius: 4px;
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 1;
	text-align: center;
	color: #fff;
	transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

@media (min-width: 992px) {
	.btn {
		font-size: 26px;
	}
}

.btn:hover {
	box-shadow: 0px 4px 25px rgba(184, 13, 64, 0.671);	
	background-color: #ff3874;
}

/* Section-button */
.section-button-wraper {
	text-align: center;
}
.button-outline {
	display: inline-block;
	padding: 10px 40px 11px;
	background: #fff;
	border: 1px solid #f72464;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #777777;
	text-decoration: none;
	transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button-outline:hover {
	background-color: #f72464;	
	color: #fff;
}